[Unit]
Description=Rename enx* interfaces to predictable aliases
Before=system-udev.service
After=local-fs.target
DefaultDependencies=no
[Service]
Type=oneshot
ExecStart=/usr/local/bin/rename-enx.sh
TimeoutStartSec=60
RemainAfterExit=true
[Install]
WantedBy=sysinit.target